@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-background-muted: #fbfbfb;
  --color-primary: #9c7af2;
  --color-secondary: #5bc0eb;
  --color-foreground: #000000;
  --color-muted: #f2f1f4;
  --color-inverse: #180a29;
  --color-border: #9aacb5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
