@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #FFFFFF;
  --color-background-muted: #FBFBFB;
  --color-primary: #9C7AF2;
  --color-secondary: #5BC0EB;
  --color-foreground: #000000;
  --color-muted: #F2F1F4;
  --color-inverse: #180A29;
  --color-border: #9AACB5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
